body {
  margin: 0;
  line-height: normal;
}
.contact-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1920px;
  height: 1620px;
}
.path-1-icon4 {
  position: absolute;
  top: 346.87px;
  left: -512.37px;
  width: 1188.37px;
  height: 827.53px;
  opacity: 0.2;
}
.path-3-icon4 {
  position: absolute;
  right: -485.93px;
  bottom: -425.63px;
  width: 1445.93px;
  height: 1383.74px;
  opacity: 0.2;
}
.path-2-icon4 {
  position: absolute;
  top: -107.34px;
  right: -515.2px;
  width: 1243.2px;
  height: 908.41px;
  opacity: 0.2;
}
.contact-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-400);
  backdrop-filter: blur(50px) brightness(130%);
  width: 1920px;
  height: 1620px;
}
.contact-inner {
  position: absolute;
  top: 258px;
  left: 140px;
  background-color: var(--color-dimgray-200);
  width: 1640px;
  height: 503px;
}
.contact-child1,
.contact-child2 {
  position: absolute;
  top: 258px;
  right: 140px;
  height: 503px;
}
.contact-child1 {
  background-color: #5e9292;
  width: 820px;
}
.contact-child2 {
  background-color: var(--color-aqua);
  width: 205px;
}
.contact-child3,
.ellipse-icon {
  position: absolute;
  top: 904px;
  left: 366px;
  width: 100px;
  height: 100px;
}
.contact-child3 {
  top: 922px;
  left: 384px;
  width: 28px;
  height: 28px;
}
.contact-child4,
.contact-child5 {
  position: absolute;
  top: 904px;
  left: 741px;
  width: 100px;
  height: 100px;
}
.contact-child5 {
  top: 922px;
  left: 759px;
  width: 28px;
  height: 28px;
}
.contact-child6,
.contact-child7 {
  position: absolute;
  top: 904px;
  left: 1116px;
  width: 100px;
  height: 100px;
}
.contact-child7 {
  top: 922px;
  left: 1134px;
  width: 28px;
  height: 28px;
}
.contact-child8,
.contact-child9 {
  position: absolute;
  top: 904px;
  left: 1491px;
  width: 100px;
  height: 100px;
}
.contact-child9 {
  top: 922px;
  left: 1509px;
  width: 28px;
  height: 28px;
}
.e-mail {
  position: absolute;
  top: 0;
  left: 0;
}
.brian-nkosigmailcom {
  position: absolute;
  top: 2px;
  right: -1px;
  font-size: 31px;
  color: var(--color-white);
  text-align: left;
}
.div,
.e-mail-parent {
  position: absolute;
  top: 0;
}
.e-mail-parent {
  width: 100%;
  right: 0;
  left: 0;
  height: 43px;
}
.div {
  right: -1px;
  color: var(--color-white);
  text-align: left;
}
.call-parent {
  position: absolute;
  bottom: 0;
  left: 40px;
  width: 374px;
  height: 43px;
}
.group-parent {
  position: absolute;
  top: 436.5px;
  left: 246.68px;
  width: 550px;
  height: 150px;
  text-align: right;
  font-size: var(--font-size-lg);
  color: var(--color-aqua);
}
.line-div {
  position: absolute;
  top: 314.5px;
  left: 406.18px;
  border-right: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 2px;
  height: 389px;
}
.union-1-icon8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.nkosi16 {
  font-weight: 300;
}
.briannkosi16 {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 89.68px);
}
.component-4-24,
.path-6-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 459.36px;
  height: 80px;
}
.path-6-icon4 {
  width: 1956px;
  height: 116px;
}
.contact5 {
  position: absolute;
  top: calc(50% - 18.5px);
  left: calc(50% - 48px);
}
.component-3-34 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  width: 96px;
}
.portfolio4 {
  position: absolute;
  top: calc(50% - 18.5px);
  left: calc(50% - 59px);
}
.component-2-34 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 63.5px);
  width: 118px;
  cursor: pointer;
  text-align: center;
  color: var(--color-aqua);
}
.home4 {
  position: absolute;
  top: calc(50% - 18.5px);
  left: calc(50% - 37.5px);
}
.component-1-34 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 75px;
  cursor: pointer;
}
.component-3-3-parent1 {
  position: absolute;
  top: 21px;
  right: 140px;
  width: 487px;
  height: 37px;
}
.union-2-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 495.36px;
  height: 116px;
}
.briannkosi18 {
  position: absolute;
  top: 22px;
  left: 140px;
  color: var(--color-dimgray-100);
}
.path-5-icon4 {
  position: absolute;
  bottom: 58.65px;
  left: 140px;
  width: 97.69px;
  height: 77.35px;
}
.briannkosi19,
.powered-by4 {
  position: absolute;
  opacity: 0.5;
}
.briannkosi19 {
  top: 0;
  right: -1px;
}
.powered-by4 {
  top: 5px;
  left: 0;
  font-size: var(--font-size-sm);
  font-weight: 300;
}
.briannkosi-parent2 {
  position: absolute;
  right: 140px;
  bottom: 81.79px;
  width: 273px;
  height: 37px;
}
.contact4 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1620px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-segoe-ui);
}
