.component121Child,
.profileChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 428px;
  height: 327px;
}
.component121Child {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: var(--color-darkslategray-100);
}
.component121 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 428px;
  height: 602px;
}
.path1Icon {
  position: absolute;
  top: 248px;
  right: 76px;
  width: 0;
  height: 0;
}
.component141Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-darkslategray-100);
  border: 1px solid var(--color-mediumseagreen);
  box-sizing: border-box;
}
.passwordVerification {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 83.5px);
}
.component141 {
  position: absolute;
  top: 582px;
  left: 30px;
  width: 369px;
  height: 60px;
  color: var(--color-mediumseagreen);
}
.component131Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-darkslategray-100);
  border: 2px solid var(--color-lightcoral);
  box-sizing: border-box;
}
.removeAllCards {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 69.5px);
}
.component131 {
  position: absolute;
  top: 669px;
  left: 30px;
  width: 369px;
  height: 60px;
  cursor: pointer;
  color: var(--color-lightcoral);
}
.oldManIcon {
  position: absolute;
  top: 112px;
  left: 146px;
  border-radius: var(--br-xl);
  width: 137px;
  height: 137px;
  object-fit: cover;
}
.emailAddress,
.name {
  position: absolute;
  left: 0;
  opacity: 0.5;
}
.name {
  top: 0;
}
.emailAddress {
  top: calc(50% + 11px);
}
.shadrickSithole,
.shadricks25gmailcom {
  position: absolute;
  left: 0;
  font-size: var(--font-size-sm);
}
.shadrickSithole {
  top: calc(50% - 37px);
}
.shadricks25gmailcom {
  bottom: 0;
}
.nameParent {
  position: absolute;
  top: 380px;
  left: 30px;
  width: 174px;
  height: 140px;
  font-size: var(--font-size-lg);
}
.nkosi {
  font-weight: 300;
}
.briannkosi,
.poweredBy {
  position: absolute;
  opacity: 0.5;
}
.briannkosi {
  top: 0;
  right: -1px;
}
.poweredBy {
  top: calc(50% - 7px);
  left: 0;
  font-size: 10px;
  font-weight: 300;
}
.briannkosiParent {
  position: absolute;
  bottom: 54px;
  left: 141.75px;
  width: 144.5px;
  height: 20px;
  font-size: 15px;
  color: var(--color-gray-200);
}
.component28Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  border: 1px solid var(--color-yellowgreen);
  box-sizing: border-box;
}
.subtraction1Icon {
  position: absolute;
  bottom: 2.83px;
  left: 0;
  width: 25px;
  height: 17px;
}
.back {
  position: absolute;
  width: calc(100% - 16px);
  top: calc(50% - 12px);
  left: 17px;
  display: inline-block;
}
.subtraction1Parent {
  position: absolute;
  width: calc(100% - 17px);
  top: 5px;
  right: 4px;
  left: 13px;
  height: 24px;
}
.component28,
.logoIcon {
  position: absolute;
  top: 67px;
}
.component28 {
  left: 30px;
  width: 100px;
  height: 35px;
  cursor: pointer;
  text-align: center;
}
.logoIcon {
  right: 34.15px;
  width: 88.27px;
  height: 15px;
}
.profile {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 926px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-yellowgreen);
  font-family: var(--font-segoe-ui);
}
